/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #000;
	color: #FFF;
	font-family: 'VT323'
}

canvas{
	display: block;
	background-color: #FFF;
    margin: auto;
}

h1 {
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	display: inline;
	float: left;
}

h4 {
	font-size: 12px;
	display: inline;
	float: right;
}

#app_window {
	width: 1000px;
	height: auto;
	display: block;
	margin: auto;
}

#preview_window {
	width: 480px;
	display: block;
	margin: auto;
	padding-top: 30px;
	clear: both;
}

#preview_controls {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.preview_control {
	flex-direction: row;
}

#preview_canvas {
	width: 473px;
	height: 252px;
}

#design_window {
	width: 110px;
	display: block;
	float: left;
	margin-left: 20px;
}

#design_canvas {
	width: 428px;
	height: 800px;
}

#properties_window {
	width: 200px;
	display: block;
	float: right;

}

